<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css" charset="utf-8">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
</head>
<body>
  <div id="container">
    <p>There is a machine, somewhere in London, that logs onto <a href='http://omegle.com'>Omegle</a> and says...</p>
    
    <h1>> I hope I don't fall in love <br/> with you.</h1>
      
      <%= yield %>
            
  </div>
  
  
  
  <a href="http://github.com/danielcooper/ihopeidontfallinlovewithyou"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/ce742187c818c67d98af16f96ed21c00160c234a/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
</body>
</html>