@font-face {
  font-family: 'MomsTypewriterRegular';
  src: url('Moms_typewriter-webfont.eot');
  src: url('Moms_typewriter-webfont.eot?#iefix') format('embedded-opentype'),
  url('Moms_typewriter-webfont.woff') format('woff'),
  url('Moms_typewriter-webfont.ttf') format('truetype'),
  url('Moms_typewriter-webfont.svg#MomsTypewriterRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  
}

h1{
  font: 40px/48px 'MomsTypewriterRegular', Arial, sans-serif;letter-spacing: 0;
  color:white;
}

a{
  color:white;
}


#container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

div.conversation{
  margin-top:50px;
}

.conversation h2{
  font: 18px 'MomsTypewriterRegular', Arial, sans-serif;letter-spacing: 0;
  color:white;
}

.conversation p{
  font: 13px 'MomsTypewriterRegular', Arial, sans-serif;letter-spacing: 0;
  color:white;
  line-height:80%
}

p{
  font: 16px 'MomsTypewriterRegular', Arial, sans-serif;letter-spacing: 0;
  color:white;
  line-height:80%
}

body{
  background:url('../background.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#view_more{
  margin-top:40px;
  margin-left: 200px;
  font-size: 13px;
  text-align: left;
  text-decoration: underline ;
  cursor: pointer; cursor: hand
}
